<div class="container">
  <div class="addValuesContainer">
    <form name="addItem" (ngSubmit)="adicionarItem()">
      <div class="box">
        <label>Descrição</label>
        <input
          type="text"
          name="description"
          [(ngModel)]="novoItem.description"
          required
        />
      </div>
      <div class="box">
        <label for="value">Valor</label>
        <input type="text" name="value" [(ngModel)]="novoItem.value" required />
      </div>
      <div class="box">
        <label for="type">Tipo</label>
        <select name="type" [(ngModel)]="novoItem.type" required>
          <option value="1">Entrada</option>
          <option value="2">Saída</option>
        </select>
      </div>
      <div class="box">
        <button type="submit">Adicionar</button>
      </div>
    </form>
  </div>
</div>
