<div class="background">
  <div class="titleContainer">
    <h2>Controle Financeiro</h2>
  </div>
  <div class="container">
    <div class="box box1">
      <div class="boxTitle">
        <h3>Entradas</h3>
      </div>
      <div class="boxContent">
        <p *ngIf="entradas == 0">R$ 0.00</p>
        <p *ngIf="entradas != 0">R$ {{ entradas }}</p>
      </div>
    </div>
    <div class="box box2">
      <div class="boxTitle">
        <h3>Saldo</h3>
      </div>
      <div class="boxContent">
        <p *ngIf="saldo == 0">R$ 0.00</p>
        <p *ngIf="saldo != 0">R$ {{ saldo }}</p>
      </div>
    </div>
    <div class="box box3">
      <div class="boxTitle">
        <h3>Saídas</h3>
      </div>
      <div class="boxContent">
        <p *ngIf="saidas == 0">R$ 0.00</p>
        <p *ngIf="saidas != 0">R$ {{ saidas }}</p>
      </div>
    </div>
  </div>
</div>
